html, body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

header {
    display: flex;
    margin: 0.5% 0 0 0.5%;
}

header img {
    width: 8vw;
    height: auto;
}

nav {
    width: 33vw;
    text-align: center;
    margin: auto 33vw auto 24vw ;
}

nav a {
    color: #1351d8;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    margin: 0 3%;
}

hr {
    width: 99%;
    color: whitesmoke;
    border-style: solid;
    border-width: 0.4vh;
}

.section__index__1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 7%;
}

.section__index__1 p {
    padding: 0.7% 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.section__lancamento__1 {
    background-color: black;
    width: 100%;
    height: 60vw;
    max-height: 80vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.section__lancamento__1 iframe {
    width: 80%;
    height: 100%;
    border: 0;
    position: static;
    display: block;
}

.section__lancamento__2 {
    margin: 0.5% 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section__lancamento__2__carros {
    display: flex;
    justify-content: center;
}

.section__lancamento__2__carro {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: space-around;
    margin: 0 1%;
}

.section__lancamento__2__checkbox {
    display: flex;
    justify-content: space-between;
}

.section__lancamento__2__checkbox img {
    max-width: 100%;
    height: 2vh;
    position: relative;
    top: 50%;
}

.section__lancamento__2__info {
    padding: 0 1%;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 1rem;
}

.section__lancamento__2__info label {
    color: #1351d8;
    font-family: Arial, Helvetica, sans-serif;
}

.section__lancamento__2 button {
    width: 13%;
    margin: 3% auto 0.4% auto;
    padding: 0.5% 0;
    border-radius: 10px;
    border-style: none;
    background-color: #1351d8;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.5vh;
}

.section__lancamento__2__carro input {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    flex-grow: 0;
}
    
.section__contato__1 {
    display: flex;
    justify-content: center;
    padding-top: 9vh;
}

.section__contato__1 h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.section__contato__1 img {
    width: 20vw;
    height: auto;
}

.section__contato__1 input {
    width: 20vw;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 11px;
    padding: 3%;
    margin-top: 3%;
    border-color: lightgray;
    border-style: solid;
    font-size: 0.9rem;
}

.section__contato__1 form {
    display: flex;
    flex-direction: column;
}

.section__contato__1 select {
    width: 21.5vw;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 11px;
    padding: 3%;
    margin-top: 3%;
    border-color: lightgray;
    border-style: solid;
    border-width: 2px;
    font-size: 0.9rem;
    color: gray;
}

.section__contato__1 textarea {
    width: 20vw;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 11px;
    padding: 3%;
    margin-top: 3%;
    border-color: lightgray;
    border-style: solid;
    border-width: 2px;
    font-size: 0.9rem;
    color: gray;
}

.section__contato__1 button {
    width: 70%;
    padding: 4%;
    margin: 3% 0 3% 30%;
    margin-top: 3%;
    border-radius: 7px;
    border-style: none;
    background-color: #1351d8;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

footer {
    background-color: #1b357e;
    display: flex;
    justify-content: space-around;
    padding: 0.5% 1%;
}

footer img {
    width: 5vw;
    height: auto;
}

.footer__redes {
    display: flex;
    justify-content: flex-start;
    width: 33%;
    color: white;
}

.footer__redes img {
    width: 2vw;
    height: auto;
}

.footer__copyright {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    width: 33%;
    margin: auto 0;
    font-size: 0.9rem;
    text-align: center;
}

.footer__logo {
    width: 33%;
    text-align: right;
}

footer a {
    margin-top: 1%;
}

nav input[type="checkbox"] {
    display: none;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 33px;
    height: 33px;
    justify-content: center;
}

.menu-icon span {
    height: 4px;
    width: 100%;
    background: #1351d8;
    margin: 4px 0;
    border-radius: 20px;
    display: block;
    transition: 0.3s;
}

@media (max-width: 900px) {
    header {
        justify-content: space-between;
        align-items: center;
    }
    header img {
        width: 13vw;
        height: auto;
    }
    nav {
        width: auto;
        margin: 0;
        position: static;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .menu-icon {
        margin: 20% 25% 0 0;
        text-align: left;
        display: flex;
        position: static;
        margin-left: auto;
        z-index: 2;
    }
    .menu {
        display: none;
        flex-direction: column;
        background: #fff;
        position: absolute;
        top: 0;
        right: 0;
        width: 150px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.15);
        border-radius: 20px;
        z-index: 1;
        padding: 13px 20px 13px 7px;
        text-align: left;
    }
    .menu a {
        margin-top: 7%;
    }
    nav input[type="checkbox"]:checked ~ .menu {
        display: flex;
    }
    nav {
        position: relative;
    }

    .section__lancamento__2__carro {
        width: 28%;
        justify-content: space-around;
    }

    .section__lancamento__2 button {
        width: 22%;
        padding: 1% 0;
    }

    .section__contato__1 {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }

    .section__contato__1 img {
        width: 50vw;
        height: auto;
    }

    .section__contato__1 input {
        width: 50vw;
    }

    .section__contato__1 select {
        width: 54vw;
    }

    .section__contato__1 textarea {
        width: 50vw;
    }

    .footer__redes img {
        width: 3vw;
        height: auto;
    }

    .footer__logo img {
        width: 33%;
        text-align: right;
    }
}

@media (max-width: 700px) {
    .section__lancamento__2__carro {
        width: 33%;
    }
    
    .section__lancamento__2__carros {
        flex-direction: column;
        align-items: center;
        gap: 2vh;
    }

    .section__lancamento__2 button {
        width: 33%;
        padding: 1% 0;
        margin: 7% auto 3% auto;
    }
}